#nomeJogador {
    font-family: 'Ubuntu Medium';
    padding: 12px 20px;
    font-size: 36px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 8px;
    text-align: center;
    outline: transparent;
}
@media (min-width: 768px) {
    #nomeJogador {
        font-size: 26px;
    }
}